@import "../responsive";

aside {
  width: 30%;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 100px;
  color: $text-color;
  @include device("tablet") {
    gap: 0px;
    width: 100%;
    padding-top: 60px;
  }
  section {
    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      @include device("laptop") {
        font-size: 32px;
      }
    }
    h2 {
      span {
        font-size: 20px;
        font-weight: 600;
        @include device("laptop") {
          font-size: 17px;
        }
      }
    }
    p {
      width: 80%;
      @include device("laptop") {
        font-size: 13px;
      }
      @include device("tablet") {
        max-width: 380px;
      }
    }
  }
}
