footer {
  min-height: 90px;
  width: 100%;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfd;
  border-top: 1px solid rgba(225, 225, 225, 0.369);
  box-shadow: 0px 0px 4px 0px rgba(103, 103, 103, 0.1529411765);
  z-index: 1900;
  @include device("tablet") {
    border-top: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    box-shadow: 0px 0px 4px 0px #acacac;
    background-color: #ffffff;
  }
  @include device("mobile") {
    min-height: 100px;
    height: 55px;
    box-shadow: unset;
    background-color: unset;
    justify-content: center;
    align-items: center;
  }
}

#footer-navbar {
  width: 100%;
  @include device("mobile") {
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 14%);
    background-color: #ffffff;
    width: 92%;
    border-radius: 100px;
    height: 70%;
  }
  nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include device("tablet") {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include device("mobile") {
      padding: 0;
    }
    .active {
      color: $primary-color;

      &::after {
        width: 100%;
      }
    }

    ul {
      display: flex;
      width: 18%;
      list-style-type: none;
      padding: 0;
      gap: 39%;
      justify-content: center;
      margin: 0;
      position: relative;
      @include device("tablet") {
        justify-content: space-between;
        min-width: 320px;
        width: 40%;
        gap: 0%;
      }
      @include device("mobile"){
        min-width: unset;
        width:75%;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        .active-mobile {
          svg {
            fill: $primary-color;
          }
          span {
            color: $primary-color;
          }
        }
      }
      .footer-link-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: #acacac;
          width: 22px;
          transition: all 0.3s ease-in-out;
          transform: translateY(-5 px);
          margin-bottom: 7px;
        }
      }
      li button {
        text-decoration: none;
        color: $text-color;
        font-size: 16px;
        position: relative;
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        border: 0;
        @include device("laptop") {
          font-size: 14px;
        }
        @include device("mobile") {
          padding: 0;
        }
        @media (max-width: 350px) {
          font-size: 12px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -1px;
          width: 0;
          height: 2px;
          transition: width 0.3s ease-in-out;
          background-color: $primary-color;
          transform: translateX(-50%);
        }

        &:hover {
          color: $primary-color;
        }

        span {
          font-size: 12px;
          color: #acacac;
        }
      }
    }
  }
}

#footer-social-media {
  position: absolute;
  right: 25px;
  display: flex;
  justify-content: end;
  gap: 3%;



  @include device("tablet") {
    display: none;
  } 

  svg {
    fill: $text-color;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    cursor: pointer;
    @include device("laptop") {
      width: 18px;
      height: 18px;
    }
    &:hover {
      fill: $primary-color;
      transition: all 0.3s ease-in-out;
    }
  }
}
