footer {
  height: 10vh;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(0) translateY(0);
  @include device("tablet") {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    box-shadow: 0px 0px 4px 0px #acacac;
    background-color: #ffffff;
  }
  @include device("mobile") {
    min-height: 100px;
    height: 55px;
    box-shadow: unset;
    background-color: unset;
    justify-content: center;
    align-items: center;
  }
}

#footer-logo {
  width: 25%;
  display: flex;
  align-items: center;
  @include device("tablet") {
    padding-left: 35px;
  }

  @include device("mobile") {
    display: none;
  }

  img {
    width: 150px;
    @include device("laptop") {
      width: 125px;
    }
  }
}

#footer-navbar {
  width: 100%;
  @include device("mobile") {
    box-shadow: 0px 0px 6px 1px #bcbcbcf2;
    background-color: #ffffff;
    width: 92%;
    border-radius: 100px;
    height: 78%;
    margin-bottom: 12px;
  }
  nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include device("tablet") {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include device("mobile") {
      padding: 0;
    }
    .active {
      color: $primary-color;

      &::after {
        width: 100%;
      }
    }

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: 39%;
      justify-content: center;
      margin: 0;
      position: relative;
      @include device("tablet") {
        justify-content: space-between;
        width: 70%;
        gap: 0%;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        .active-mobile {
          svg {
            fill: $primary-color;
          }
          span {
            color: $primary-color;
          }
        }
      }
      .footer-link-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          fill: #acacac;
          width: 22px;
          transition: all 0.3s ease-in-out;
          transform: translateY(-5 px);
          margin-bottom: 7px;
        }
      }
      li button {
        text-decoration: none;
        color: $text-color;
        font-size: 16px;
        position: relative;
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        border: 0;
        @include device("laptop") {
          font-size: 14px;
        }
        @include device("mobile") {
          padding: 0;
        }
        @media (max-width: 350px) {
          font-size: 12px;
        }

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -1px;
          width: 0;
          height: 2px;
          transition: width 0.3s ease-in-out;
          background-color: $primary-color;
          transform: translateX(-50%);
        }

        &:hover {
          color: $primary-color;
        }

        span {
          font-size: 12px;
          color: #acacac;
        }
      }
    }
  }
}

#footer-social-media {
  width: 25%;
  display: flex;
  justify-content: end;
  gap: 3%;
  @include device("tablet") {
    padding-right: 35px;
  }
  @include device("mobile") {
    display: none;
  }

  svg {
    fill: $text-color;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    cursor: pointer;
    @include device("laptop") {
      width: 18px;
      height: 18px;
    }
    &:hover {
      fill: $primary-color;
      transition: all 0.3s ease-in-out;
    }
  }
}
