footer {
  height: 10vh;
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  transform: translateX(0) translateY(0);
  @include device("tablet") {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    box-shadow: 0px 0px 4px 0px #acacac;
    backdrop-filter: blur(20px);
    background-color: #ffffffd9;
  }
  @include device("mobile") {
    min-height: 50px;
    height: 55px;
    border-radius: 100px;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.521);
    border: 2px solid $primary-color;
    box-shadow: unset;
  }
}

#footer-logo {
  width: 25%;
  display: flex;
  align-items: center;
  @include device("tablet") {
    padding-left: 35px;
  }
  @media (max-width: 800px) {
    display: none;
  }
  img {
    width: 150px;
    @include device("laptop") {
      width: 125px;
    }
  }
}

#footer-navbar {
  width: 100%;
  .active {
    color: $primary-color;

    &::after {
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    gap: 6%;
    justify-content: center;
    margin: 0;
    display: flex;
    @media (max-width: 800px) {
      gap: 17%;
    }
    @media (max-width: 450px) {
      gap: 13%;
    }
    li .active-mobile {
      background-color: $primary-color;
      outline: 9px solid $primary-color;
      transform: translateY(-23px);
      border: 2px solid transparent;
      svg {
        fill: white;
      }
    }
    .footer-link-mobile {
      outline-color: transparent;
      background-color: white;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-13px);
      border: 2px solid $primary-color;
      outline-offset: -2px;
      svg {
        fill: $primary-color;
        width: 30px;
      }
    }
    li button {
      text-decoration: none;
      color: $text-color;
      font-size: 16px;
      padding: 10px 10px 10px 10px;
      position: relative;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 100%;
      display: inline-block;
      @include device("laptop") {
        font-size: 14px;
      }
      @media (max-width: 350px) {
        font-size: 12px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 0;
        height: 2px;
        transition: width 0.3s ease-in-out;
        background-color: $primary-color;
        transform: translateX(-50%);
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}

#footer-social-media {
  width: 25%;
  display: flex;
  justify-content: end;
  gap: 3%;
  @include device("tablet") {
    padding-right: 35px;
  }
  @media (max-width: 800px) {
    display: none;
  }
  svg {
    fill: $text-color;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    cursor: pointer;
    @include device("laptop") {
      width: 18px;
      height: 18px;
    }
    &:hover {
      fill: $primary-color;
      transition: all 0.3s ease-in-out;
    }
  }
}
