.projects-column-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  height: 100%;

  @include device("tablet") {
    margin-bottom: 80px;
    margin-top: 30px;
  }

  .swiper-button-disabled {
    opacity: 0.3 !important;
  }

  .category-slider-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .swiper-button-prev svg {
      transform: rotate(180deg);
    }

    .projects-column-category {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding: 10px 0;
      max-width: 45vw;

      -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
      );
      mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
      );

      .swiper-wrapper {
        display: flex;
        align-items: center;
      }

      .swiper-slide {
        width: auto;
        display: flex;
        justify-content: center;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0.3;
        transform: scale(0.9);

        &.swiper-slide-active {
          opacity: 1;
          transform: scale(1);
        }

        .category-slide {
          justify-content: center;
          align-items: center;
          margin-left: 30px;
          margin-right: 30px;

          &:hover {
            color: $primary-color;
          }

          &.category-active {
            color: $primary-color;
            &::after {
              width: 70%;
            }
          }

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: $primary-color;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
          }

          svg {
            width: 20px;
            height: 20px;
          }
          span {
            font-size: 14px;
            padding: 12px 7px;
            white-space: nowrap;
            color: $text-color;
            position: relative;
            transition: color 0.3s ease;
            justify-content: center;
            align-items: center;
            gap: 10px;

            @include device("mobile") {
              font-size: 14px;
            }
          }
        }
      }
    }

    .projects-prev,
    .projects-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      color: $primary-color;
      z-index: 20;
      margin: 0;

      &::after {
        font-size: 18px;
        font-weight: bold;
      }

      &.swiper-button-disabled {
        opacity: 0.1;
      }
    }

    .projects-prev {
      left: 0;
      cursor: pointer;
    }
    .projects-next {
      right: 0;
      cursor: pointer;
    }
  }

  .projects-column-grid {
    column-count: 2;
    column-gap: 4%;
    padding: 0px 30px 25px 0px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;

    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: 20px;
    }

    @include device("tablet") {
      padding: 0px;
      padding-bottom: 180px;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0;
      }
    }

    @include device("mobile") {
      column-count: 1;
      gap: 40px;
    }

    .projects-column {
      color: $text-color;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 35px;
      break-inside: avoid;
      a {
        color: $text-color;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 35px;
        break-inside: avoid;
        &:hover {
          .projects-column-title {
            color: $primary-color;
            svg {
              transform: translate(3px, -3px);
              path {
                stroke: $primary-color;
              }
            }
          }
        }
      }

      img {
        width: 100%;
        margin-bottom: 5px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }
    }

    .wide-project {
      column-span: all;
      width: 100%;
    }

    .projects-column-title {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
      transition: color 0.2s ease;

      svg {
        width: 9px;
        height: 9px;
        transition: transform 0.2s ease;
        path {
          stroke: $text-color;
        }
      }
    }

    p {
      margin: 0;
      font-size: 14px;
    }

    ul {
      display: flex;
      padding: 0;
      margin: 5px 0 0 0;
      gap: 7px;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}
