.projects-column-container {
  gap: 30px;
  align-items: center;
  height: inherit;
  @include device("tablet") {
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .projects-column-category {
    justify-content: center;
    width: 100%;
    gap: 4%;
    @include device("mobile") {
      gap: 7%;
    }
    @media (max-width: 315px) {
      gap: 12%;
    }
    .category-active {
      color: $primary-color;
      &::after {
        width: 100%;
      }
    }
    button {
      font-size: 16px;
      background-color: unset;
      border: unset;
      padding: 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease-in-out;
      @include device("mobile") {
        font-size: 14px;
      }
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -1px;
        width: 0;
        height: 2px;
        transition: width 0.3s ease-in-out;
        background-color: $primary-color;
        transform: translateX(-50%);
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
  .projects-column-grid {
    column-count: 2;
    column-gap: 4%;
    padding: 0px 30px 25px 0px;
    width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.3vw;
      max-width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 20px;
      transition: all 0.3s ease-in;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: 20px;
    }
    @include device("tablet") {
      padding: 0px;
      padding-bottom: 180px;
      width: 100%;
      &::-webkit-scrollbar {
        width: 0vw;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }
    @include device("mobile") {
      padding-bottom: 0;
      grid-template-columns: 1fr;
      gap: 40px;
      columns: 1;
    }

    .projects-column {
      color: $text-color;
      gap: 15px;
      padding: 5px;
      margin-bottom: 35px;
      break-inside: avoid;
      margin-bottom: 10%;
      img {
        width: 100%;
        margin-bottom: 5px;
        box-shadow: 0px 0px 4px 0px #00000047;
        border-radius: 5px;
      }
    }
    .projects-column-title {
      transition: all 0.15s ease-in-out;
      justify-content: start;
      align-items: center;
      gap: 12px;
      @include device("laptop") {
        font-size: 15px;
      }
      svg {
        z-index: -1;
        transition: all 0.15s ease-in-out;
        width: 9px;
        height: 9px;
        transform: translateX(-0px) translateY(0px);
        path {
          transition: all 0.15s ease-in-out;
          stroke: $text-color;
        }
      }
    }
    p {
      margin: 0;
      font-size: 14px;
      @include device("laptop") {
        font-size: 12px;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      gap: 7px;
      margin-top: 5px;
      flex-wrap: wrap;
    }
  }
}

a .projects-column:hover {
  .projects-column-title {
    color: $primary-color;
    transition: all 0.15s ease-in-out;
    svg {
      transition: all 0.15s ease-in-out;
      transform: translateX(3px) translateY(-3px);
      path {
        transition: all 0.15s ease-in-out;
        stroke: $primary-color;
      }
    }
  }
}
