#contact {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  height: inherit;
  @include device("mobile") {
    margin-top: 60px;
    gap: 20px;
    flex-direction: column-reverse;
  }
  #contact-box-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.3vw;
      max-width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 20px;
      transition: all 0.3s ease-in;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $secondary-color;
      border-radius: 20px;
    }
    @include device("tablet") {
      margin-top: 60px;
      padding-bottom: 190px;
      &::-webkit-scrollbar {
        width: 0vw;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }
    @include device("mobile") {
      margin-top: 20px;
    }
  }
  #contact-note {
    opacity: 70%;
    font-size: 14px;
    @media (max-width: 1508px) {
      padding-bottom: 60px;
    }
    @include device("tablet") {
      padding-bottom: 120px;
    }
    @include device("mobile") {
      padding-bottom: unset;
      text-align: center;
    }
  }
}
