#contact {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  @include device("mobile") {
    margin-top: 60px;
    gap: 20px;
    flex-direction: column-reverse;
  }
  #contact-box-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    @include device("tablet") {
      margin-top: 60px;
    }
    @include device("mobile") {
      margin-top: 20px;
      margin-bottom: 140px;
    }
  }
  #contact-note {
    opacity: 70%;
    font-size: 14px;
    @media (max-width: 1508px) {
      padding-bottom: 60px;
    }
    @include device("tablet") {
      padding-bottom: 120px;
    }
    @include device("mobile") {
      padding-bottom: unset;
      text-align: center;
    }
  }
}
