#contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;

  @include device("tablet") {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  @include device("mobile") {
    margin-top: 40px;
    gap: 20px;
  }

  #contact-box-holder {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    touch-action: pan-y;

    margin-bottom: 180px;

    &::-webkit-scrollbar {
      width: 0.3vw;
      max-width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 20px;
      transition: all 0.3s ease-in;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 20px;
    }

    @include device("tablet") {
      margin-bottom: 90px;
      padding-bottom: 50px;

      &::-webkit-scrollbar {
        width: 0vw;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: transparent;
      }
    }

    @include device("mobile") {
      margin-top: 0px;
      padding-bottom: 160px;
      margin-bottom: unset;
    }
  }

  #contact-note {
    opacity: 80%;
    font-size: 14px;
    color: var(--text-color);

    @include device("tablet") {
      padding-top: 40px;
    }

    @include device("mobile") {
      text-align: center;
      padding-top: unset;
    }
  }
}