#home {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  @include device("laptop") {
    padding-right: unset;
  }
  @include device("tablet") {
    justify-content: unset;
  }
  #home-holder {
    max-width: 900px;
    gap: 60px;
    padding-bottom: 60px;
    @include device("tablet") {
      padding-bottom: 140px;
      max-width: unset;
    }
    #biography {
      gap: 20px;
      text-align: justify;
      @include device("tablet") {
        text-align: unset;
      }
      p {
        margin: 0;
        line-height: 135%;
        font-size: 14px;
      }
    }
    #home-row-projects {
      gap: 40px;
      #all-projects-link {
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
        a {
          color: $text-color;
          font-size: 12px;
        }
      }
    }
    #home-work-history {
      gap: 60px;
    }
  }
}
