#home {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
    margin-top: 50px;

  @include device("tablet") {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &::-webkit-scrollbar {
    width: 0.3vw;
    max-width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 20px;
  }

  @include device("tablet") {
    &::-webkit-scrollbar {
      width: 0vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  #introduction {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    color: var(--text-color);
    display: none;

    #intro-icons {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
      margin-top: 30px;
      gap: 25px;
    
      a {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 30px;
        height: 30px;
        padding: 10px;
    
        border-radius: 10px;
    
        background: var(--icon-card-background);
        border: 1px solid var(--icon-card-border);
    
        box-shadow: var(--icon-card-shadow);
    
        transition: all 0.25s ease;
    
        &:hover {
          transform: translateY(-3px);
          background: var(--icon-card-hover-background-color);
          border-color: var(--icon-card-hover-border-color);
          box-shadow: var(--icon-card-hover-shadow);
        }
    
        svg {
          fill: var(--primary-color);
          width: 20px;
          height: 20px;
          transition: all 0.25s ease;
        }
    
        &:hover svg {
          transform: scale(1.08);
        }
      }
    }

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 700;

      @include device("laptop") {
        font-size: 32px;
      }
    }

    h2 {
      span {
        font-size: 20px;
        font-weight: 600;

        @include device("laptop") {
          font-size: 17px;
        }
      }
    }

    p {
      width: 80%;

      @include device("laptop") {
        font-size: 13px;
      }

      @include device("tablet") {
        max-width: 380px;
      }
    }

    @include device("tablet") {
      display: block;
    }
  }
  .sticky-title {
    z-index: 1000;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--sticky-title-background-color);
    backdrop-filter: var(--sticky-title-filter);
    display: none;

    @include device("tablet") {
      display: block;
      backdrop-filter: none;
    }

    h3 {
      text-transform: uppercase;
      color: var(--sticky-title-text-color);
      margin: 0;
      padding: 20px 0;
      font-size: 15px;
      font-weight: 600;
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }

  #home-holder {
    max-width: 1100px;
    gap: 60px;
    padding-bottom: 200px;

    @include device("tablet") {
      padding-bottom: 130px;
      max-width: unset;
    }

    @include device("mobile") {
      padding-bottom: 150px;
    }

    #biography {
      gap: 20px;
      text-align: justify;
      position: relative;

      @include device("tablet") {
        text-align: unset;
      }

      .biography-paragraph {
        gap: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--biography-divider-color);

        &:last-child {
          border-bottom: unset;
          padding-bottom: 0px;
        }

        @include device("mobile") {
          gap: 0;
          padding-bottom: 0;
          border-bottom: unset;
        }

        .icon-box {
          @include device("mobile") {
            display: none;
          }
        }
      }

      p {
        margin: 0;
        line-height: 135%;
        font-size: 14px;
      }

      .highlight {
        @include device("mobile") {
          gap: 20px;
        }

        .highlight-line {
          display: none;
          border-radius: 50px;
          width: 4px;
          height: 100%;
          background-color: var(--secondary-color);

          @include device("mobile") {
            display: block;
          }
        }
      }
    }

    #home-row-projects {
      gap: 40px;
      position: relative;
    }

    #all-projects-link {
      margin-top: 30px;
      margin-bottom: 40px;

      button {
        display: flex;
        color: var(--text-color);
        font-size: 14px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        align-items: center;
        gap: 10px;

        svg {
          stroke: var(--text-color);
        }

        &:hover {
          gap: 20px;

          span {
            gap: 20px;
            transition: all 0.2s ease-in-out;
            color: var(--primary-color);
          }

          svg {
            stroke: var(--primary-color);
          }
        }
      }
    }

    #home-work-history {
      margin-top: 40px;
      position: relative;
      gap: 60px;
    }
  }

  .home-mobile-padding {
    @include device("tablet") {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }
}
