#home {
  display: flex;
  padding-right: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  &::-webkit-scrollbar {
    width: 0.3vw;
    max-width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 20px;
  }
  @include device("tablet") {
    &::-webkit-scrollbar {
      width: 0vw;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }
  #introduction {
    padding-top: 60px;
    padding-bottom: 70px;
    color: $text-color;
    display: none;
    #intro-icons {
      display: none;
      margin-top: 30px;
      gap: 3%;
      @media (max-width: 800px) {
        display: flex;
        svg {
          fill: $text-color;
          width: 20px;
          height: 20px;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    h1 {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      @include device("laptop") {
        font-size: 32px;
      }
    }
    h2 {
      span {
        font-size: 20px;
        font-weight: 600;
        @include device("laptop") {
          font-size: 17px;
        }
      }
    }
    p {
      width: 80%;
      @include device("laptop") {
        font-size: 13px;
      }
      @include device("tablet") {
        max-width: 380px;
      }
    }
    @include device("tablet") {
      display: block;
    }
  }
  .sticky-title {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(249, 249, 249, 0.842);
    backdrop-filter: blur(10px);
    display: none;
    @include device("tablet") {
      display: block;
    }
    h3 {
      text-transform: uppercase;
      color: rgb(60, 60, 60);
      margin: 0;
      padding: 20px 0;
      font-size: 15px;
      font-weight: 600;
    }
  }
  @include device("laptop") {
    padding-right: unset;
  }
  @include device("tablet") {
    justify-content: unset;
  }
  #home-holder {
    max-width: 900px;
    gap: 60px;
    padding-bottom: 60px;

    @include device("tablet") {
      padding-bottom: 130px;
      max-width: unset;
    }
    @media (max-width: 850px) {
      padding-bottom: 60px;
    }
    @include device("mobile") {
      padding-bottom: 150px;
    }

    #biography {
      gap: 20px;
      text-align: justify;
      position: relative;
      @include device("tablet") {
        text-align: unset;
      }
      p {
        margin: 0;
        line-height: 135%;
        font-size: 14px;
      }
    }
    #home-row-projects {
      gap: 40px;
      position: relative;
      #all-projects-link {
        margin-bottom: 40px;
        button {
          display: flex;
          color: $text-color;
          font-size: 14px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          align-items: center;
          gap: 10px;
          svg {
            stroke: $text-color;
          }
          &:hover {
            gap: 20px;
            span {
              gap: 20px;
              transition: all 0.2s ease-in-out;
              color: $primary-color;
            }
            svg {
              stroke: $primary-color;
            }
          }
        }
      }
    }
    #home-work-history {
      position: relative;
      gap: 60px;
    }
  }
}
