.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.fit-content {
  width: fit-content;
}

.hide {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.remove {
  display: none;
}

.blue-text {
  color: $primary-color;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.allow-vertical-pan {
  touch-action: pan-y;
}

.tech {
  list-style: none;
  text-align: center;
  width: fit-content;
  padding: 2.5px 16px;
  background-color: $primary-color;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  @include device("laptop") {
    padding: 2px 12px;
  }
}

.concept-tag {
  list-style: none;
  text-align: center;
  width: fit-content;
  padding: 2.5px 16px;
  background-color: rgb(255, 149, 0);
  color: white;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
}

.not-available {
  opacity: 60%;
  pointer-events: none;
}

.not-available-button {
  pointer-events: none;
  background-color: $secondary-text-color;
  color: $text-color;
  border: 0;
  font-size: 14px;
  padding: 4px 21px;
  border-radius: 5px;
}

.primary-button {
  background-color: $primary-color;
  color: white;
  border: 0;
  font-size: 14px;
  padding: 4px 21px;
  border-radius: 5px;
  cursor: pointer;
}

.slide-down {
  transition: all 0.3s ease-in-out;
  transform: translateX(0) translateY(100px);
}

.lazy-animation {
  animation-name: fading-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fading-blink {
  0% {
    background-color: rgb(222, 222, 222);
  }
  50% {
    background-color: rgb(168, 168, 168);
  }
  100% {
    background-color: rgb(222, 222, 222);
  }
}
