main {
    &::-webkit-scrollbar {
    width: 0.5vw;
    max-width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 20px;
  }
}