@import "responsive";
@import "variables";
@import "classes";
@import "components/footer";
@import "components/aside";
@import "components/smartNavbar";
@import "components/projectsRow";
@import "components/workHistory";
@import "components/socialMedia";
@import "components/projectsColumn";
@import "pages/home";
@import "pages/projects";
@import "pages/contact";

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont.ttf);
}

body {
  background: $background-color;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Inter;
  -webkit-tap-highlight-color: transparent;
  &::selection {
    background-color: $primary-color;
    color: white;
  }
  @include device("tablet") {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1480px;
  padding-left: 50px;
  padding-right: 50px;
  @include device("laptop") {
    padding-left: 35px;
    padding-right: 35px;
  }
  @include device("mobile") {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#container {
  height: 90vh;
  flex-direction: row;
  display: flex;
  @include device("tablet") {
    flex-direction: column;
    height: 100%;
  }
}

main {
  margin-top: 50px;
  width: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 30px;
  scroll-behavior: smooth;
  @include device("tablet") {
    width: 100%;
    margin-top: 0;
    padding-right: 0;
    overflow-y: unset;
    overflow-x: unset;
  }
  &::-webkit-scrollbar {
    width: 0.5vw;
    max-width: 7px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    transition: all 0.3s ease-in;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 20px;
  }
}
