@import "responsive";
@import "variables";
@import "classes";
@import "components/footer";
@import "components/aside";
@import "components/smartNavbar";
@import "components/projectsRow";
@import "components/workHistory";
@import "components/socialMedia";
@import "components/projectsColumn";
@import "pages/home";
@import "pages/projects";
@import "pages/contact";

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont.ttf);
}

body {
  background: $background-color;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Inter;
  -webkit-tap-highlight-color: transparent;
  &::selection {
    background-color: $primary-color;
    color: white;
  }
  @include device("tablet") {
    background: rgb(249, 249, 249);
    height: 100%;
  }
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1480px;
  padding-left: 3rem;
  padding-right: 3rem;
  @include device("laptop") {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

#container {
  height: 90vh;
  flex-direction: row;
  display: flex;
  @include device("tablet") {
    flex-direction: column;
    height: 100%;
  }
}

main {
  margin-top: 50px;
  width: 70%;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include device("tablet") {
    width: 100%;
    margin-top: 0;
    height: 100vh;
  }
}
